<table>

<td><a href ="http://localhost:3000/movies"><h1>Movies </h1></a></td> <td><a href ="http://localhost:3000/directors"><h1>Directors </h1></a></td>  <td><a href ="http://localhost:3000/actors"><h1>Actors</h1></a></td> </table>

<a href="/movies/new_form">New Movie</a>
<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Year</th>
      <th>Duration</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>

    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
    <tr>
      <td><img src="<%= movie.image_url %>" width ="100"></td>
      <td><%= movie.title %></td>
      <td><%= movie.year %></td>
      <td><%= movie.duration %></td>
      <td> <%= movie.description %> </td>


      <td>
        <a href="/movies/<%= movie.id %>">Details


        </a>
      </td>
      <td>
      <a href="/movies/<%= movie.id %>/edit_form">Edit
            </a>
      </td>
    <td>
      <a href="/delete_movie/<%= movie.id %>">Delete
              </a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
